body{

    margin:0;

    font-family:Arial,sans-serif;

    background:#bddeff;

    padding-bottom:90px;

}

header{

    background:white;

    padding:20px;

    text-align:center;
    color:#4da6ff;

}

#my-rounds-container{

    width:95%;

    max-width:800px;

    margin:20px auto;

}

.page-banner{

    background:white;

    padding:20px;

    border-radius:16px;

    margin-bottom:20px;

}

.round-card{

    background:white;

    border-radius:16px;

    padding:20px;

    margin-bottom:20px;

}

.round-card h4{

    margin-top:0;

}

.card-buttons{

    display:flex;

    gap:10px;

    margin-top:15px;

}

.edit-btn{

    flex:1;

    border:none;

    padding:12px;

    border-radius:10px;

    background:#4da6ff;

    color:white;

    cursor:pointer;

}

.delete-btn{

    flex:1;

    border:none;

    padding:12px;

    border-radius:10px;

    background:#ff5b5b;

    color:white;

    cursor:pointer;

}

#bottom-nav{

    position:fixed;

    bottom:0;

    left:0;

    width:100%;

    background:white;

    display:flex;

    justify-content:space-around;

    padding:15px 0;

}

@media(max-width:768px){

    .card-buttons{

        flex-direction:column;

    }
    #round-tabs{
        gap:6px;
    }

    .tab-button{
        padding:12px;
        font-size:14px;
    }

}


#edit-modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    justify-content:center;
    align-items:center;
    z-index:9999;
    font-family:Arial,sans-serif

}
#edit-content{
    background:white;
    width:90%;
    max-width:500px;
    padding:20px;
    border-radius:16px;

}
#edit-content input,
#edit-content textarea,
#edit-content select{
    width:100%;
    margin-bottom:15px;
    padding:12px;
    box-sizing:border-box;
    border-radius:10px;
}

#save-round-btn{
    background-color:#4da6ff ;
    flex:1;
    border:none;
    padding:12px;
    border-radius:10px;
    color:white;
    cursor:pointer;
    
}
#cancel-edit-btn{
    flex:1;
    border:none;
    padding:12px;
    border-radius:10px;
    background:#ff5b5b;
    color:white;
    cursor:pointer;
}

#round-tabs{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.tab-button{
    flex:1;
    border:none;
    padding:14px;
    border-radius:12px;
    background:white;
    color:#4da6ff;
    font-weight:600;
    cursor:pointer;
}
.tab-button:hover{
    background:#4da6ff;
    color:white;
}
.active-tab{
    background:#4da6ff;
    color:white;
}

.hostDetailsJoinedTab h4{
    text-align: center;
}
.round-stats{
    display:flex;
    gap:10px;
    margin-top:15px;
}
.stat-box{
    flex:1;
    background:#f5f9ff;
    border-radius:12px;
    padding:12px;
    text-align:center;
}
.stat-number{
    display:block;
    font-size:1.4rem;
    font-weight:bold;
    color:#4da6ff;
    
}
#showErrorMessage{
    text-align: center;
    margin:5px;
}